@import "../variables/global";

.ui {
  &.checkbox {
    input {
      &:checked ~ {
        .box:after, label:after {
          color: $teal;
        }
      }
    }
  }
  
  &.radio.checkbox {
    input {
      &:checked ~ {
        .box:after, label:after {
          background-color: $teal;
        }
      }
    }
  }
}