.emotions__label {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 79%;
  margin: auto;
  li {
    width: 100%;
  }
}
.range {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.range__txt {
  background: #d2d2d2;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Tahoma';
  width: 115px;
  text-align: center;
}

.range__values {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

label {
  text-transform: capitalize;
}
.field {
  margin: 10px 0;
}
