// Copied from semantic.
// All colors are commented for better view what was overwrite.
// Only changed lines are uncommented.

//Font
//$body-font-size: 14px !default;
//$import-google-fonts: true !default;
//$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext' !default;
//$font-name: 'Lato' !default;
//$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;